
button {
    display: inline-block;
    background-color: transparent;
    font: 12pt Impact, fantasy;
    color: black;
    margin: 10px;
}


button:hover {
    background-color: #CEC;
}

.centered {
    text-align: center;
    margin: auto auto;
}

input {
    background-color: #6a6866;
    width: 90%;
    font: 12pt sans-serif;
    color: black;
    text-align: center;
}

#password{
    text-align: left;
}

#username{
    text-align: left;
}

::placeholder{
    color: black;
}

.label {
    font: 14pt sans-serif;
}

